<!DOCTYPE html>
<html>
  <head>
    <title>Pizza Legends</title>  
    <link href="/templates/styles/global.css" type="text/css" rel="stylesheet">
    <link href="/templates/styles/TextMessage.css" type="text/css" rel="stylesheet">
    <link href="/templates/styles/SceneTransition.css" type="text/css" rel="stylesheet">

  </head>
  <body>
    <div class="game-container">
      <canvas class="game-canvas" width="352" height="190"></canvas>
    </div>

    <!-- State -->
    <script src="/templates/State/PlayerState.js"></script>

    <!-- Scripts -->
    <script src="/templates/utils.js"></script>
    <script src="/templates/DirectionInput.js"></script>
    <script src="/templates/Overworld.js"></script>
    <script src="/templates/GameObject.js"></script>
    <script src="/templates/Person.js"></script>
    <script src="/templates/Sprite.js"></script>
    <script src="/templates/OverworldMap.js"></script>
    <script src="/templates/OverworldEvent.js"></script>
    <script src="/templates/TextMessage.js"></script>
    <script src="/templates/KeyPressListener.js"></script>
    <script src="/templates/RevealingText.js"></script>
    <script src="/templates/SceneTransition.js"></script>
    <script src="/templates/init.js"></script>

  </body>
</html>



